.container{
    width: 100%;
}
.title{
    /* margin-bottom: 2%; */
    font-size: large;
    font-weight: bold;
}
.dataTableWrapper {
    overflow-x: auto;
    max-width: 100%;
}
.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}