.container{
    width: 100%;
}
.title{
    margin-bottom: 2%;
    font-size: large;
    font-weight: bold;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}
/*버튼*/
.radius50{
    border-radius: 50%;
}
.radius20{
    border-radius: 29px;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.common{
    border: 2px solid #054A29;
    border-radius: 15px;
}
.contents{
    margin-right: 5%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 1%;
}
.left{
    width: 10%;
    text-align: center;
    margin-right: 5%;
    padding: 8px;
}
.right{
    width: 70%;
}
.list1{
    background-color: #054A29;
    color: white;
}
.calendar{
    width: 90%;
    margin-top: 5%;
}